In [ ]:
import psycopg, os
postgres_uri = os.environ.get('URI')
conn = psycopg.connect(postgres_uri)
sql = "select translate(cast (aidb.encode_text_batch('bert', ARRAY['hello', 'goodbye']) as text), '\"', '')::float[]"
cur = conn.cursor()
cur.execute(sql, prepare=True)
results = cur.fetchall()

In [ ]:
sql = """
    select film_id, title, description, 1 - (aidb.encode_text('grit-llm', description)::vector <=>
	aidb.encode_text('grit-llm', 'A movie about cats in Australia')::vector) as cosine_similarity_score from film order by 4 desc limit 10
    """

In [ ]:
rows = execute_sql_results(sql)
for row in rows:
    print(row)